cmake-build-*
.idea
.vscode
tags
build
build_debug
.cache
*.log
*.trace
.clion.source.upload.marker
*~
pre-commit
compile_commands.json

**/__pycache__
CostModelSimulationOutput/*
simulator/*

output_tools
*.tar.gz
dvcTestPlatform
output
summary
log
tilefwk_*
tmp
